/* Limit main width */
main {
    max-width: 840px;
}

/* Style aside */
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

/* Aside image */
aside img {
    width: 200px;
    height: auto;
    /* keeps aspect ratio */
}

/* Profile image inside main */
main img {
    width: 150px;
    height: auto;
}

/* Paragraphs */
p {
    padding: 0;
}

/* Footer */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}